@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-red-600;
  @apply text-white;
  @apply font-montserrat;
}

.categories-filter {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.categories-filter::-webkit-scrollbar {
  display: none;
}
